.DS_Store
auto_commits.py
c000abc/modules/h001uint8_t.h
c000abc/cmake-build-debug/.ninja_deps
c000abc/cmake-build-debug/.ninja_log
c000abc/cmake-build-debug/CMakeFiles/c000abc.dir/main.c.obj
c000abc/cmake-build-debug/Testing/Temporary/LastTest.log
c000abc/cmake-build-debug/Testing/Temporary/LastTest.log
